<!--<div class="container" *ngIf="pedido">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>

                <div class="form-group">
                    <label for="oracion">Nombre</label>
                    <input type="text" class="form-control" id="oracion" name="oracion" [(ngModel)]="pedido.oracion" required>
                </div>

                <div class="form-group">
                    <label for="f_pedido">Nombre</label>
                    <input type="text" class="form-control" id="f_pedido" name="f_pedido" [(ngModel)]="pedido.f_pedido" required>
                </div>
                <div class="form-group">
                    <label for="estado">Nombre</label>
                    <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="pedido.estado" required>
                </div>

                <div class="form-group">
                    <label for="f_respuesta">Nombre</label>
                    <input type="text" class="form-control" id="f_respuesta" name="f_respuesta" [(ngModel)]="pedido.f_respuesta" required>
                </div>

                <div class="form-group">
                    <label for="respuesta">Nombre</label>
                    <input type="text" class="form-control" id="respuesta" name="respuesta" [(ngModel)]="pedido.respuesta" required>
                </div>

                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
        </div>
    </div>


  -->